@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700&display=swap");
:root {
    --primary-color: #f0c939;
    --text-color: #333;

    --color: #a5a5a5;
}
//global styles
body {
    background-image: url("./assets/website-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Baloo Bhaijaan 2", cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.mybtn {
    background-image: url("./assets/btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 18px 30px;
    background-size: contain;
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-weight: 700;
    img {
        margin-inline-end: 10px;
    }
}
.mybtn:hover {
    background-image: url("./assets/btn-active.svg");
    background-repeat: no-repeat;
    background-position: center;
}
//global styles

//Start of nav style
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    .logo {
        margin-bottom: 60px;
    }
    .mob-menu {
        font-size: 23px;
        display: none;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .mob-menu:hover {
        color: var(--primary-color);
    }
    .main-menu {
        display: flex;
        li {
            margin-inline-end: 10px;
        }
        .menu-link {
            padding: 10px 20px;
            background-image: url("./assets/menu-bg-w.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            color: var(--text-color);
            font-weight: 700;
        }
        .active,
        .menu-link:hover {
            background-image: url("./assets/menu-bg.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    @media (max-width: 768px) {
        margin-bottom: 60px;
        .logo {
            margin-bottom: 30px;
        }
    }
}

.sidenav {
    height: 100%;
    width: 100%;
    background-image: url("./assets/website-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    transition: 0.5s;

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 25px 25px;
        .closebtn {
            font-size: 25px;
            color: var(--text-color);
        }
        .closebtn:hover {
            color: var(--primary-color);
        }
    }
    .links {
        padding: 0px 25px;
        overflow-y: auto;
        width: 100%;
        a {
            .btn-toggle {
                display: inline-flex;
                align-items: center;
                padding: 0.25rem 0.5rem;
                font-weight: 700;
                color: var(--text-color);
                background-color: transparent;
                border: 0;
                text-decoration: none;
                font-size: 17px;
                transition: 0.3s;
                margin-bottom: 20px;
                i {
                    font-size: 19px;
                    margin-inline-start: 10px;
                }
            }
            .btn-toggle:hover {
                color: var(--primary-color);
            }
        }
    }
    .bottombar {
        width: 100%;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        div {
            margin-bottom: 5px;
            img {
                // padding: 10px;
                filter: invert(0%) sepia(100%) saturate(10%) hue-rotate(205deg)
                    brightness(10%) contrast(102%);
            }
            img:hover {
                filter: none;
            }
        }
        span {
            font-size: 10px;
            font-weight: 700;
        }
    }
}

@media (max-width: 570px) {
    .sidenav {
        .links {
            a {
                font-size: 22px;
            }
        }
    }
}
@media (max-width: 770px) {
    .navbar {
        .main-menu {
            display: none;
        }
        .mob-menu {
            display: flex;
            width: 100%;
        }
    }
}

//End of nav style
.devo-intro {
    margin-bottom: 120px;
    .intro-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100%;
        position: relative;
        .vec1 {
            position: absolute;
            top: 120px;
            right: 175px;
            z-index: -9;
        }
        h2 {
            margin-bottom: 30px;
            line-height: 40px;
            font-weight: 700;
        }
        h2:hover {
            color: var(--primary-color);
        }
        p {
            line-height: 30px;
        }
    }
    @media (max-width: 425px) {
        text-align: center;
        .intro-content {
            align-items: center;
        }
    }
}

.qoute {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    .vec11 {
        position: absolute;
        top: -250px;
        right: 230px;
        @media (max-width: 1200px) {
            display: none;
        }
    }
    .vec12 {
        position: absolute;
        top: -80px;
        left: 200px;
        @media (max-width: 768px) {
            display: none;
        }
    }
    img {
        margin-bottom: 10px;
    }
    h3 {
        font-weight: 700;
        line-height: 45px;
    }
    h3:hover {
        color: var(--primary-color);
    }
}
.devo-who {
    margin-bottom: 120px;
    .who-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: relative;

        h2 {
            font-weight: 700;
            margin-bottom: 30px;
        }
        h2:hover {
            color: var(--primary-color);
        }
        p {
            line-height: 30px;
        }
        .vec4 {
            position: absolute;
            top: 90px;
            left: 105px;
            z-index: -9;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    .who-img {
        position: relative;
        .vec2 {
            position: absolute;
            top: -315px;
            right: -10px;
            z-index: -9;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .vec3 {
            position: absolute;
            bottom: -25px;
            right: 40px;
            z-index: -9;
        }
    }
    @media (max-width: 425px) {
        text-align: center;
    }
}

.devo-how {
    margin-bottom: 120px;
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        margin-bottom: 40px;
        h3 {
            font-weight: 700;
        }
        h3:hover {
            color: var(--primary-color);
        }
        span {
            font-size: 18px;
        }
        .vec5 {
            position: absolute;
            z-index: -9;
            left: 105px;
            top: -25px;
            @media (max-width: 768px) {
                top: -90px;
            }
        }
    }
    .how-content {
        background-image: url(./assets/how-bg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        min-height: 380px;
        padding: 0px 30px;

        h5 {
            font-weight: 700;
        }

        @media (max-width: 995px) {
            padding: 0px 170px;
        }
        @media (max-width: 765px) {
            padding: 0px 85px;
        }
        @media (max-width: 395px) {
            padding: 16px 10px;
        }
    }
}

.devo-services {
    margin-bottom: 120px;
    .services-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100%;
        position: relative;
        margin-inline-start: 60px;
        .vec7 {
            position: absolute;
            z-index: -9;
            top: -25px;
            right: 170px;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .vec8 {
            z-index: -9;
            position: absolute;
            bottom: 0;
            left: 60px;
            @media (max-width: 768px) {
                display: none;
            }
        }
        h2 {
            font-weight: 700;
            margin-bottom: 30px;
        }
        h2:hover {
            color: var(--primary-color);
        }
        p {
            line-height: 30px;
        }
        ul {
            columns: 2;
            line-height: 40px;
            margin-bottom: 20px;
            li {
                margin-inline-end: 30px;
                img {
                    margin-inline-end: 5px;
                }
            }
            @media (max-width: 768px) {
                li {
                    margin-inline-end: 0;
                }
            }
            @media (max-width: 550px) {
                li {
                    font-size: 14px;
                    img {
                        width: 15px;
                        height: 20px;
                    }
                }
            }
            @media (max-width: 475px) {
                columns: 1;
                // li {
                //     font-size: 10px;
                //     font-weight: 500;
                // }
            }
        }
        @media (max-width: 425px) {
            align-items: center;
            text-align: center;
            margin-inline-start: 0;
            li {
                text-align: start;
            }
        }
    }
    .services-img {
        position: relative;
        .vec6 {
            position: absolute;
            top: -160px;
            left: 80px;
            z-index: -9;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .vec9 {
            position: absolute;
            z-index: -9;
            top: -155px;
            left: 20px;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .vec10 {
            position: absolute;
            z-index: -9;
            bottom: -120px;
            right: -360px;
        }
    }
}
.devo-top-footer {
    .content {
        width: 100%;
        display: flex;
        align-items: flex-end;
        .first-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span:nth-child(2) {
                margin-top: 200px;
                @media (max-width: 995px) {
                    margin-top: 0;
                }
            }
            span {
                font-weight: 700;
                font-size: 20px;
            }
            span:hover {
                color: var(--primary-color);
            }
            @media (max-width: 995px) {
                flex-direction: column;
                text-align: center;
                span {
                    margin-bottom: 15px;
                    font-size: 15px;
                }
            }
        }

        .mybox {
            float: left;
            margin-bottom: -65px;
        }
        @media (max-width: 550px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            .mybox {
                margin-bottom: -45px;
            }
        }
    }
}

//start of bottom footer

.devo-bottom-footer {
    .content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: url("./assets/assets-12.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 165px;
        padding-top: 50px;
        span {
            color: var(--primary-color);
        }
        @media (max-width: 750px) {
            // flex-direction: column;
            // align-items: center;
            // text-align: center;
            span {
                font-size: 14px;
            }
            img {
                width: 20px;
                height: 20px;
            }
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}
//end of bottom footer

//start of products page style

.devo-swiper {
    margin-bottom: 120px;
    position: relative;
    .vec13 {
        position: absolute;
        top: -70px;
        right: 100px;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .vec14 {
        position: absolute;
        bottom: -60px;
        left: 300px;
        @media (max-width: 550px) {
            display: none;
        }
    }
    .vec15 {
        position: absolute;
        top: -20px;
        right: 70px;
        @media (max-width: 550px) {
            right: 30px;
            top: -60px;
            width: 50px;
            height: 50px;
        }
    }
    .vec16 {
        position: absolute;
        top: -30px;
        left: 150px;
        @media (max-width: 768px) {
            top: -100px;
            left: 60px;
        }
    }
    .vec17 {
        position: absolute;
        top: -50px;
        right: 220px;
        @media (max-width: 800px) {
            top: -95px;
        }
    }
    .vec18 {
        position: absolute;
        top: -90px;
        left: 300px;
        @media (max-width: 1100px) {
            display: none;
        }
    }
    .vec19 {
        position: absolute;
        top: -90px;
        right: 230px;
        @media (max-width: 980px) {
            display: none;
        }
    }

    .title {
        background-image: url("./assets/btn-active.svg");
        background-repeat: no-repeat;
        background-position: center;
        padding: 11px 0px;
        margin-bottom: 30px;
        background-size: contain;
        color: var(--text-color);
        display: flex;
        align-items: center;

        span {
            width: 100%;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
        }
    }

    .swiper {
        padding-bottom: 80px;
        position: relative;

        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                // height: 250px;
                width: 100%;
            }
        }
        .swiper-button-prev-unique {
            height: 70px;
            width: 70px;
            position: absolute;
            right: 10px;
        }
        .swiper-button-prev-unique::after {
            content: "";
            display: flex;
            background-image: url("./assets/Image_3-removebg-preview.png");
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
        .swiper-button-next-unique {
            height: 70px;
            width: 70px;
            position: absolute;
            left: 10px;
        }
        .swiper-button-next-unique::after {
            content: "";
            display: flex;
            background-image: url("./assets/Image_2-removebg-preview.png");
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
}
//end of products page style

//start of articles page style

.devo-articles {
    margin-top: 120px;
    margin-bottom: 60px;
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        li {
            margin-inline-end: 10px;
        }
        .menu-link {
            padding: 10px 20px;
            background-image: url("./assets/menu-bg-w.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            color: var(--text-color);
            font-weight: 700;
        }
        .active,
        .menu-link:hover {
            background-image: url("./assets/menu-bg.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        @media (max-width: 768px) {
            .menu-link {
                padding: 10px 7px;
                font-weight: 500;
                font-size: 19px;
            }
        }
        @media (max-width: 450px) {
            margin-bottom: 15px;
            .menu-link {
                padding: 10px 3px;
                font-weight: 500;
                font-size: 13px;
            }
        }
    }
    .mycard {
        background-image: url(./assets/how-bg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        min-height: 380px;
        padding: 0px 30px;

        h5 {
            font-weight: 700;
        }

        @media (max-width: 995px) {
            padding: 0px 170px;
        }
        @media (max-width: 765px) {
            padding: 0px 85px;
        }
        @media (max-width: 395px) {
            padding: 16px 10px;
        }
    }
    @media (max-width: 450px) {
        margin-top: 60px;
    }
}
//end of articles page style
