@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700&display=swap");
:root {
  --primary-color: #f0c939;
  --text-color: #333;
  --color: #a5a5a5;
}

body {
  background-image: url("./assets/website-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.mybtn {
  background-image: url("./assets/btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px 30px;
  background-size: contain;
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-weight: 700;
}
.mybtn img {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

.mybtn:hover {
  background-image: url("./assets/btn-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.mycard {
  background-image: url(./assets/how-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 380px;
  padding: 0px 30px;
}
.mycard h5 {
  font-weight: 700;
}
.mycard a {
  background-image: url("./assets/blog-post-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 130px;
  font-weight: 700;
  font-size: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
@media (max-width: 765px) {
  .mycard {
    padding: 0px 85px;
  }
}
@media (max-width: 395px) {
  .mycard {
    padding: 16px 10px;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  margin-top: 15px;
}
.navbar .logo {
  margin-bottom: 60px;
}
.navbar .whats-icon {
  display: none;
}
.navbar .mob-menu {
  font-size: 23px;
  display: none;
}
.navbar .mob-menu:hover {
  color: var(--primary-color);
}
.navbar .main-menu {
  display: flex;
}
.navbar .main-menu li {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.navbar .main-menu .menu-link {
  padding: 10px 20px;
  background-image: url("./assets/menu-bg-w.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: var(--text-color);
  font-weight: 700;
}
.navbar .main-menu .active,
.navbar .main-menu .menu-link:hover {
  background-image: url("./assets/menu-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 768px) {
  .navbar {
    margin-bottom: 60px;
  }
  .navbar .logo {
    margin-bottom: 30px;
  }
}

.sidenav {
  height: 100%;
  width: 100%;
  background-image: url("./assets/website-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 25px;
}
.sidenav .topbar .closebtn {
  font-size: 25px;
  color: var(--text-color);
}
.sidenav .topbar .closebtn:hover {
  color: var(--primary-color);
}
.sidenav .links {
  padding: 0px 25px;
  overflow-y: auto;
  width: 100%;
}
.sidenav .links a .btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  color: var(--text-color);
  background-color: transparent;
  border: 0;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
  margin-bottom: 20px;
}
.sidenav .links a .btn-toggle i {
  font-size: 19px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
.sidenav .links a .btn-toggle:hover {
  color: var(--primary-color);
}
.sidenav .bottombar {
  width: 100%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.sidenav .bottombar div {
  margin-bottom: 5px;
}
.sidenav .bottombar div img {
  filter: invert(0%) sepia(100%) saturate(10%) hue-rotate(205deg) brightness(10%) contrast(102%);
}
.sidenav .bottombar div img:hover {
  filter: none;
}
.sidenav .bottombar span {
  font-size: 10px;
  font-weight: 700;
}

@media (max-width: 570px) {
  .sidenav .links a {
    font-size: 22px;
  }
}
@media (max-width: 770px) {
  .navbar {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .navbar .main-menu {
    display: none;
  }
  .navbar .whats-icon {
    display: flex;
  }
  .navbar .mob-menu {
    display: flex;
  }
}
.devo-intro {
  margin-bottom: 120px;
}
.devo-intro .intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  position: relative;
}
.devo-intro .intro-content .vec1 {
  position: absolute;
  top: 120px;
  right: 175px;
  opacity: 0.3;
  z-index: -9;
  animation-name: secondStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.devo-intro .intro-content h2 {
  margin-bottom: 30px;
  line-height: 40px;
  font-weight: 700;
}
.devo-intro .intro-content p {
  line-height: 30px;
}
@media (max-width: 425px) {
  .devo-intro {
    text-align: center;
  }
  .devo-intro .intro-content {
    align-items: center;
  }
}

.qoute {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.qoute .vec11 {
  position: absolute;
  top: -250px;
  right: 230px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 1200px) {
  .qoute .vec11 {
    display: none;
  }
}
.qoute .vec12 {
  position: absolute;
  top: -80px;
  left: 200px;
  opacity: 0.3;
  animation-name: secondStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .qoute .vec12 {
    display: none;
  }
}
.qoute img {
  margin-bottom: 10px;
}
.qoute h3 {
  font-weight: 700;
  line-height: 45px;
}

.devo-who {
  margin-bottom: 120px;
}
.devo-who .who-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}
.devo-who .who-content h2 {
  font-weight: 700;
  margin-bottom: 30px;
}
.devo-who .who-content p {
  line-height: 30px;
}
.devo-who .who-content .vec4 {
  position: absolute;
  top: 90px;
  left: 105px;
  z-index: -9;
  opacity: 0.3;
  animation-name: secondStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .devo-who .who-content .vec4 {
    display: none;
  }
}
.devo-who .who-img {
  position: relative;
}
.devo-who .who-img .vec2 {
  position: absolute;
  top: -315px;
  right: -10px;
  z-index: -9;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .devo-who .who-img .vec2 {
    display: none;
  }
}
.devo-who .who-img .vec3 {
  position: absolute;
  bottom: -25px;
  right: 40px;
  z-index: -9;
  opacity: 0.3;
  animation-name: thirdStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 425px) {
  .devo-who {
    text-align: center;
  }
}

.devo-how {
  margin-bottom: 120px;
}
.devo-how .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.devo-how .title h3 {
  font-weight: 700;
}
.devo-how .title span {
  font-size: 18px;
}
.devo-how .title .vec5 {
  position: absolute;
  z-index: -9;
  left: 105px;
  top: -25px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .devo-how .title .vec5 {
    top: -90px;
  }
}
.devo-how .how-content {
  background-image: url(./assets/how-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 380px;
  padding: 0px 30px;
}
.devo-how .how-content h5 {
  font-weight: 700;
}
@media (max-width: 995px) {
  .devo-how .how-content {
    padding: 0px 170px;
  }
}
@media (max-width: 765px) {
  .devo-how .how-content {
    padding: 0px 85px;
  }
}
@media (max-width: 395px) {
  .devo-how .how-content {
    padding: 16px 10px;
  }
}

.devo-services {
  margin-bottom: 120px;
}
.devo-services .services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  position: relative;
  -webkit-margin-start: 60px;
          margin-inline-start: 60px;
}
.devo-services .services-content .vec7 {
  position: absolute;
  z-index: -9;
  top: -25px;
  right: 170px;
  opacity: 0.3;
  animation-name: thirdStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .devo-services .services-content .vec7 {
    display: none;
  }
}
.devo-services .services-content .vec8 {
  z-index: -9;
  position: absolute;
  bottom: 0;
  left: 60px;
  opacity: 0.3;
  animation-name: thirdStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .devo-services .services-content .vec8 {
    display: none;
  }
}
.devo-services .services-content h2 {
  font-weight: 700;
  margin-bottom: 30px;
}
.devo-services .services-content p {
  line-height: 30px;
}
.devo-services .services-content ul {
  -moz-columns: 2;
       columns: 2;
  line-height: 40px;
  margin-bottom: 20px;
}
.devo-services .services-content ul li {
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
}
.devo-services .services-content ul li img {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
@media (max-width: 768px) {
  .devo-services .services-content ul li {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  }
}
@media (max-width: 550px) {
  .devo-services .services-content ul li {
    font-size: 14px;
  }
  .devo-services .services-content ul li img {
    width: 15px;
    height: 20px;
  }
}
@media (max-width: 475px) {
  .devo-services .services-content ul {
    -moz-columns: 1;
         columns: 1;
  }
}
@media (max-width: 425px) {
  .devo-services .services-content {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
  .devo-services .services-content h2 {
    text-align: center;
    width: 100%;
  }
  .devo-services .services-content li {
    text-align: start;
  }
}
.devo-services .services-img {
  position: relative;
}
.devo-services .services-img .vec6 {
  position: absolute;
  top: -160px;
  left: 80px;
  z-index: -9;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .devo-services .services-img .vec6 {
    display: none;
  }
}
.devo-services .services-img .vec9 {
  position: absolute;
  z-index: -9;
  top: -155px;
  left: 20px;
  opacity: 0.3;
  animation-name: secondStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .devo-services .services-img .vec9 {
    display: none;
  }
}
.devo-services .services-img .vec10 {
  position: absolute;
  z-index: -9;
  bottom: -120px;
  right: -360px;
  opacity: 0.3;
  animation-name: thirdStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.devo-top-footer .content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: var(--text-color);
}
.devo-top-footer .content .first-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.devo-top-footer .content .first-content span:nth-child(2) {
  margin-top: 200px;
}
@media (max-width: 995px) {
  .devo-top-footer .content .first-content span:nth-child(2) {
    margin-top: 0;
  }
}
.devo-top-footer .content .first-content span {
  font-weight: 700;
  font-size: 20px;
}
.devo-top-footer .content .first-content span a {
  color: var(--text-color);
}
.devo-top-footer .content .first-content span a:hover {
  color: var(--primary-color);
}
@media (max-width: 995px) {
  .devo-top-footer .content .first-content {
    flex-direction: column;
    text-align: center;
  }
  .devo-top-footer .content .first-content span {
    margin-bottom: 15px;
    font-size: 15px;
  }
}
.devo-top-footer .content .mybox {
  float: left;
  margin-bottom: -65px;
}
@media (max-width: 550px) {
  .devo-top-footer .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .devo-top-footer .content .mybox {
    margin-bottom: -45px;
  }
}

.devo-bottom-footer .content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("./assets/assets-12.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 165px;
  padding-top: 50px;
}
.devo-bottom-footer .content span {
  color: var(--primary-color);
}
.devo-bottom-footer .content img:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width: 750px) {
  .devo-bottom-footer .content span {
    font-size: 14px;
  }
  .devo-bottom-footer .content img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 600px) {
  .devo-bottom-footer .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.devo-swiper {
  margin-bottom: 120px;
  position: relative;
}
.devo-swiper .vec13 {
  position: absolute;
  top: -70px;
  right: 100px;
  opacity: 0.3;
  animation-name: thirdStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .devo-swiper .vec13 {
    display: none;
  }
}
.devo-swiper .vec14 {
  position: absolute;
  bottom: -60px;
  left: 300px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 550px) {
  .devo-swiper .vec14 {
    display: none;
  }
}
.devo-swiper .vec15 {
  position: absolute;
  top: -20px;
  right: 70px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 550px) {
  .devo-swiper .vec15 {
    right: 30px;
    top: -60px;
    width: 50px;
    height: 50px;
  }
}
.devo-swiper .vec16 {
  position: absolute;
  top: -30px;
  left: 150px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 768px) {
  .devo-swiper .vec16 {
    top: -100px;
    left: 60px;
  }
}
.devo-swiper .vec17 {
  position: absolute;
  top: -50px;
  right: 220px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 800px) {
  .devo-swiper .vec17 {
    top: -95px;
  }
}
.devo-swiper .vec18 {
  position: absolute;
  top: -90px;
  left: 300px;
  opacity: 0.3;
  animation-name: secondStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 1100px) {
  .devo-swiper .vec18 {
    display: none;
  }
}
.devo-swiper .vec19 {
  position: absolute;
  top: -90px;
  right: 230px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 980px) {
  .devo-swiper .vec19 {
    display: none;
  }
}
.devo-swiper .title {
  background-image: url("./assets/btn-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 11px 0px;
  margin-bottom: 30px;
  background-size: contain;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.devo-swiper .title span {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.devo-swiper .swiper {
  padding-bottom: 80px;
  position: relative;
}
.devo-swiper .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.devo-swiper .swiper .swiper-slide a {
  width: 100%;
}
.devo-swiper .swiper .swiper-slide a img {
  width: 100%;
}
.devo-swiper .swiper .swiper-button-prev-unique {
  height: 70px;
  width: 70px;
  position: absolute;
  right: 10px;
}
.devo-swiper .swiper .swiper-button-prev-unique::after {
  content: "";
  display: flex;
  background-image: url("./assets/Image_3-removebg-preview.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.devo-swiper .swiper .swiper-button-next-unique {
  height: 70px;
  width: 70px;
  position: absolute;
  left: 10px;
}
.devo-swiper .swiper .swiper-button-next-unique::after {
  content: "";
  display: flex;
  background-image: url("./assets/Image_2-removebg-preview.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.devo-swiper .swiper .swiper-button-prev-unique:hover,
.devo-swiper .swiper .swiper-button-next-unique:hover {
  opacity: 0.6;
}

.devo-articles {
  margin-top: 120px;
  margin-bottom: 60px;
  position: relative;
}
.devo-articles .vec20 {
  position: absolute;
  top: -70px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.devo-articles .vec21 {
  position: absolute;
  bottom: -15px;
  left: 190px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 770px) {
  .devo-articles .vec21 {
    display: none;
  }
}
.devo-articles .vec22 {
  position: absolute;
  top: 670px;
  right: 50px;
  opacity: 0.3;
  animation-name: thirdStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 960px) {
  .devo-articles .vec22 {
    display: none;
  }
}
.devo-articles .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.devo-articles .menu li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.devo-articles .menu .menu-link {
  padding: 10px 20px;
  background-image: url("./assets/menu-bg-w.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: var(--text-color);
  height: 60px;
  font-weight: 700;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.devo-articles .menu .active,
.devo-articles .menu .menu-link:hover {
  background-image: url("./assets/menu-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 450px) {
  .devo-articles .menu {
    margin-bottom: 15px;
    flex-direction: column;
  }
  .devo-articles .menu li {
    margin-bottom: 15px;
    width: 100%;
  }
  .devo-articles .menu li .menu-link {
    width: 100%;
  }
}
.devo-articles .more-btn {
  background-image: url("./assets/cat-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  font-weight: 700;
  font-size: 19px;
  text-align: center;
}
@media (max-width: 450px) {
  .devo-articles {
    margin-top: 60px;
  }
}

.devo-cover {
  margin-bottom: 120px;
}
.devo-cover .cover-content {
  display: flex;
  flex-direction: column;
}
.devo-cover .cover-content .mybreadcrumb {
  margin-top: 20px;
}
.devo-cover .cover-content .mybreadcrumb ol li {
  font-weight: 700;
  font-size: 20px;
}
.devo-cover .cover-content .mybreadcrumb ol li a {
  color: var(--text-color);
}
.devo-cover .cover-content .mybreadcrumb ol .breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
  color: var(--text-color);
}
.devo-cover .cover-content .mybreadcrumb ol .breadcrumb-item.active {
  color: var(--text-color);
}

.devo-blog {
  margin-bottom: 120px;
  position: relative;
}
.devo-blog .vec23 {
  position: absolute;
  top: 90px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 560px) {
  .devo-blog .vec23 {
    display: none;
  }
}
.devo-blog .vec24 {
  position: absolute;
  bottom: -50px;
  opacity: 0.3;
  animation-name: firstStyle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 960px) {
  .devo-blog .vec24 {
    bottom: -130px;
  }
}
.devo-blog .right-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.devo-blog .right-cont h2 {
  margin-bottom: 30px;
  line-height: 40px;
  font-weight: 700;
}
.devo-blog .right-cont p {
  line-height: 30px;
  font-weight: 500;
}
.devo-blog .left-cont {
  background-image: url("./assets//side-board.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}
.devo-blog .left-cont .sec:nth-child(1) {
  margin-top: 40px;
}
.devo-blog .left-cont .sec .title {
  background-image: url("./assets/cat-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  height: 50px;
  width: 150px;
  font-weight: 700;
  font-size: 19px;
}
.devo-blog .left-cont .sec ul {
  line-height: 30px;
}
.devo-blog .left-cont .sec ul li {
  font-weight: 700;
  font-size: 17px;
}
.devo-blog .left-cont .sec ul li img {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

@keyframes firstStyle {
  from {
    transform: scale(0);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 0.4;
  }
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes secondStyle {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes thirdStyle {
  50% {
    transform: scale(0.7) translatey(5%);
  }
}/*# sourceMappingURL=style.css.map */